<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 这里要引入vue库，类似android的lib引入-->
    <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
    <!-- 双向绑定对于property是用的{{}}，也就是mustache语法
        而attribute的话则是用v-bind,快捷键是vBind -->
    <div id="app">
        {{ message }}
        <p>这是{{a}}</p>
        <span v-bind:title="spantitle">这是span，鼠标悬停几秒钟查看此处动态绑定的提示信息</span>
    </div>

    <!-- v-if：控制是否显示 -->
    <div id='app2' v-if="show">
        <p>是否显示</p>
    </div>

    <!-- v-for:绑定数组的数据来进行渲染 -->
    <div id="app3">
        <ol>
            <li v-for="(item, index) in items" :key="index">
                {{ item.text }}
            </li>
        </ol>
    </div>

    <script>
        // 想要响应式就要放在data里面
        var app = new Vue({
            // el = element
            el: '#app',
            data: {
                message: 'Hello Vue!',
                a: 1000,
                spantitle: '页面加载用去展示'
            }
        })
        //这里修改了值，ui会马上刷新，因为动态绑定
        app.a = 99;
        //app.$data.a = 1001;//这行和上面那行等效

        var app2 = new Vue({
            el: '#app2',
            data: {
                show: true,
            }
        });

        var app3 = new Vue({
            el: '#app3',
            data: {
                // 这里算是数组还是Map呢，如果是Map，text作为key也不是这么写的啊
                items: [
                    { text: '学习 JavaScript' },
                    { text: '学习 Vue' },
                    { text: '整个牛项目' }
                ]
            }
        });
        app3.items.push({ text: '新项目' })

    //这里是字面量对象的写法
    var map = { 'name': 'potter', age: 30 };//这里的key加不加引号都行
    map['love'] = 'liuwen';//这里的key必须加引号
    console.log(map.love);//map.xxx和map['xxx']是等效的

    //map是new出来的，k-v对的新增，修改，获取是set/get
    var map2 = new Map();
    map2.set('time', '14:32');
    console.log(map2.get('time'));
    </script>
</body>

</html>